[safe]
	directory = /mnt/d/my_programing/econa-vertex-ai
	directory = /mnt/d/my_programing/econa-vertex-ai
	directory = /mnt/d/my_programing/econa-engine
	directory = /mnt/d/my_programing/econa-engine/tools/git-worktree-runner
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = true
	sshCommand = ssh.exe
[user]
	name = Kohei Miki
	email = rurusasu@gmail.com
	signingkey = C:/Users/KoheiMiki/.ssh/signing_key.pub
[gpg]
	format = ssh
[gpg "ssh"]
	program = /home/miki/.local/bin/op-ssh-sign-wrapper.sh
[commit]
	gpgsign = true
