{
  "planeBaseUrl": "http://127.0.0.1:18080",
  "planeWorkspaceSlug": "ruru",
  "planeApiTokenRef": "op://hxgiw3ekjzktxf7hiyf5lyb4hi/fzhjphxau3ila6wlelo5y4ehhe/credential",
  "opAccount": "my.1password.com",
  "projectMappings": [
    {
      "planeProject": "dotfiles",
      "githubRepository": "rurusasu/dotfiles"
    },
    {
      "planeProject": "article-collector",
      "githubRepository": "rurusasu/article-collector"
    },
    {
      "planeProject": "lifelog",
      "githubRepository": "rurusasu/lifelog"
    }
  ]
}
